<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/_fragments::common_head(~{::title})">
    <title>欢迎登录</title>
</head>
<body>
    <!--导航-->
    <nav th:replace="common/_fragments::common_nav_admin('欢迎登录')"></nav>
    <!--中间内容-->
    <br><br><br><br>
    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <div class="ui success large message">
                <h3>Hi</h3>
                <p>欢迎登录</p>
            </div>
        </div>
    </div><br><br><br><br><br><br>

    <!--底部-->
    <footer th:replace="common/_fragments::common_footer"></footer>

    <!--/*/<th:block th:replace="common/_fragments::common_srcipt">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->
    <script>
        $('.menu.toggle').click(function (){
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.ui.dropdown').dropdown({
            on:'hover'
        });
    </script>
</body>
</html>